.content{
    min-height: 450px;
}

.content-data {
    text-align: center;
    min-width: 320px;
	max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}